.custom-button {
     min-width: 150px;
     width: auto;
     height: 50px;
     letter-spacing: 0.5px;
     line-height: 50px;
     padding: 0 35px 0 35px;
     margin: 0 10px;
     font-size: 13px;
     background-color: black;
     color: white;
     text-transform: uppercase;
     font-family: 'Open Sans Condensed';
     font-weight: bolder;
     border: none;
     cursor: pointer;
   
     &:hover {
       color: white;
       font-weight: bolder;
       background-color:#454547;
     }

     &.google-sign-in {
       background-color: #4285f4;
       color: white;
       border: none;
       &:hover {
         background-color: #357ae8;
         border: none;
       }
     }
   }
   