.sign-in {
     width: 32vw; 
     display: flex;
     flex-direction: column;

     .title {
          margin: 10px 0;
     }

     #google {
          background: #4285F4;
          border: none;
          cursort: pointer;
          margin: 0 15px;
     }
     #google:hover{
          border: none;
     }
}